// default page layout for .page-main and body
.page-main{
    min-height: 100%;
}

@media (max-width: 767px) {
    .page-main {
        margin-bottom: 60px;
    }
}

.body-page{
    background-color: $black;
    color: $white;
}
.body-item{
    background-color: $black;
    color: $white;
}